@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;

}

.fed-schedules-text{
    text-align: center;
}
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
}

.card {
    flex: 0 0 30%; 
    max-width: 26vh; 
    min-width: 26vh; 
    border: 1px solid #ccc;
    margin: 10px 5px;  
    padding: 10px;
    background-color: #f0f0f0;
    box-sizing: border-box; 
}

.card h3 {
    font-size: 20px;
    margin: 0;
}

.card p {
    font-size: 16px;
    margin: 0;
}

.card-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 50%;
    float: left;
    padding-left: 4rem;

}

.card-future-schedule-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 40%;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-top: 1rem;
}