
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;

}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 64px;
}

.feed-button-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46%;
    
}

.feed-button{
    padding: 24px;
    padding-left: 120px;
    padding-right: 120px;
    border: none;
    background-color: #0beb8a;
    border-radius: 40px;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}


.schedules-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}

.schedules-text{
    padding:12px;
}

.container2 {
    display: flex;
    justify-content: center;
}

.schedules-buttons {
    height: 500px;
    overflow: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
 
    
}

.scrollable-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbox {
    background-color: #BFBFBF;
    padding: 24px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 4px;
    border-radius: 40px;
    white-space: nowrap;
}


.submit-button {
    background-color: #0beb8a; 
    color: #000000; 
    padding: 10px 12px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
  }
  
  .submit-button:hover {
    background-color: #00a65e; 
  }

  .popup2 {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.alarm-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    
}

.alarm-container h2 {
    font-size: 1.5em;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="time"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="checkbox"] {
    margin-left: 5px;
}

.add-alarm {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-alarm:hover {
    background-color: #0056b3;
}

.alarm-list {
    margin-top: 20px;
}

.alarm-item {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alarm-time {
    font-weight: bold;
}

.alarm-delete {
    color: #ff0000;
    cursor: pointer;
    font-size: 1.2em;
}